<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MsgMapper">

    <select id="queryMsgList" resultType="map">
        select * from message
    </select>
    
	<insert id="Msginsert" parameterType="MsgVO">
		insert into message(msg_from, msg_to, msg_content, msg_status)
		values(#{msg_from, jdbcType=VARCHAR}, #{msg_to, jdbcType=VARCHAR}, #{msg_content, jdbcType=VARCHAR}, #{msg_status, jdbcType=INTEGER})
	</insert>    
    
</mapper>