<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>websocket</title>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
    <script src="http://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
</head>

<body>
<div style="margin: auto;text-align: center">
    <h1>Welcome to websocket</h1>
</div>
<br/>
<div style="margin: auto;text-align: center">
    <select id="onLineUser">
        <option>--所有--</option>
        <option>Andy</option>
        <option>陳維正</option>
    </select>
    <input id="text" type="text"/>
    <button onclick="send()">發送</button>
</div>
<br>
<div style="margin-right: 10px;text-align: right">
    <button onclick="closeWebSocket()">关闭连接</button>
</div>
<hr/>
<div id="message" style="text-align: center;"></div>
<input type="text" th:value="${username}" id="username" style="display: none"/>
</body>


<script type="text/javascript">
    var webSocket;
    var commWebSocket;
    if ("WebSocket" in window) {
    	//ws://localhost:8080/websocket/{memID}
        webSocket = new WebSocket("ws://localhost:8080/websocket/" + document.getElementById('username').value);

        //連通之後觸發
        webSocket.onopen = function () {
            //webSocket.send( document.getElementById('username').value+"已经上线了");
//             console.log("已经连通了websocket");
//             setMessageInnerHTML("已经连通了websocket");
        };

		//接收後端sever發送的消息
        webSocket.onmessage = function (evt) {	
            var received_msg = evt.data;                    
            console.log("数据已接收:" + received_msg);
            var obj = JSON.parse(received_msg);
            var msg_type = Object.keys(obj)[0];
            console.log("msg_type=" + msg_type);
            if(msg_type == "showLastMsg"){
                obj[msg_type].forEach(function(msgVO){
    				console.log("發送人:" + msgVO.msg_from);
    				console.log("接收人:" + msgVO.msg_to);
    				console.log("訊息: "  + msgVO.msg_content);
    				console.log("狀態: "  + msgVO.msg_status);
    				console.log("時間: "  + new Date(msgVO.msg_time));
    				console.log("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~");
                });            	
            }else{
                obj[msg_type].forEach(function(msgVO){
    				console.log("發送人:" + msgVO.msg_from);
    				console.log("筆數: "  + msgVO.msg_count);
    				console.log("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~");
                });            	
            }           
        };

        //連接關閉的回調事件
        webSocket.onclose = function () {
            console.log("连接已关闭...");
            setMessageInnerHTML("连接已经关闭....");
        };
    } else {
        // 瀏覽器不支持 WebSocket
        alert("您的瀏覽器不支持 WebSocket!");
    }

    function closeWebSocket() {
        //直接關閉websocket的連接
        webSocket.close();
    }

    
    //點擊發送按鈕送出訊息
    function send() {
    	console.log("msg_type =" + msg_type);
        var selectText = $("#onLineUser").find("option:selected").text();
        if (selectText == "--所有--") {
            selectText = "All";
        } else {
            setMessageInnerHTML(document.getElementById('username').value + "对" + selectText + "说：" + $("#text").val());
        }
        var message = {
            "message": document.getElementById('text').value,
            "memID": document.getElementById('username').value,
            "to": selectText,
            "msg_status" : 0,
            "msg_type" : "save"
        };
        
      	//發送訊息至後端server
        webSocket.send(JSON.stringify(message));
        $("#text").val("");

    }
    
    //當選取清單變動時，查詢與該User的聊天紀錄
    $(document).ready(function(){
        $("#onLineUser").change(function(){
        	var msg_from = $("#onLineUser").val();
            var message = {
                    "msg_from": msg_from,
                    "msg_to": document.getElementById('username').value,
                    "msg_type" : "getMessage"
                };
            webSocket.send(JSON.stringify(message));            
        });
    });    
</script>

</html>
